.custom-makerstudioslogo {
	margin-bottom: 1em;
	margin-top: 1em;
}

#mast, .moduletable-mainnav, .form-search {
	display: none;
}

.moduletable-mobilenav {
	float: right;
	text-align: right;
	margin: 0 5.25% 0 0;
	display: block;
	cursor: pointer;
}

.moduletable-mobilenav h3 {
	cursor: pointer;
	/*color: #fff;*/
	color: #3a3a3a;
	/*margin: .25em 0 0 0;*/
	font-weight: 600;
	font-size: 1.05em;
	/*margin: 2.8em 0 0 0;*/
	margin: 1.2em 0 0 0;
}

.moduletable-mobilenav h3 span {
	font-weight: 500;
	font-size: .9em;
}

.moduletable-mobilenav .nav {
	z-index: 999;
}

.menu-mobile {
	background-color: #fff;
	display: none;
	position: absolute;
	right: 0;
	text-align: left;
	width: 100%;
	margin: .5em 0 0 0;
	border-bottom: 1px solid #a7a9ac;
}

.menu-mobile li {
	border-top: 1px solid #a7a9ac;
	text-transform: uppercase;
	padding: 1em 0;
	margin: 0;
}

.menu-mobile li.item2 {
	background-color: #005e83;
}

.menu-mobile li a {
	color: #6e6f72;
	padding: 0 1em;
	display: block;
	height: 100%;
	width: auto;
}

.menu-mobile li.item2 a {
	color: #fff;
}

/*.menu-mobile .searchmobile {
	background-color: #eaeaea;
}*/

.menu-mobile .searchmobile .form-search {
	display: block;
}

.menu-mobile .searchmobile .form-search .finder {
	margin-top: -.65em;
	margin-bottom: 1em;
	width: 94%;
}	

.menu-mobile .searchmobile .form-search .finder button {
	margin-top: .75em;
	margin-left: 82%;
}

.menu-mobile .searchmobile .form-search .finder input {
	width: 93%;
}

/*.custom-makerstudioslogo {
	width: 300px;
	margin-top:	.75em;
	margin-bottom: .75em;
}*/

.custom-makerstudioslogo a img {
	/*max-width: 77%;*/
	/*margin-top:	.75em;*/
	/*margin-bottom: .75em;*/
	height: 60px;
}

/* Breadcrumbs */

.breadcrumb {
	/*clear: both;
	margin: 15% 5.25% 2.25% 3.25%;*/
	clear: both;
    margin: 1% 5.25% 2.25% 3.25%;
    border-top: 1px solid #eaeaea;
    padding-top: 3%;
}

/* Body */

.custom-homehero {
	/*margin-top: 7em;*/
	height: 500px;
}

.custom-homehero .herotext {
	top: 58%;
}

.custom-homehero .herotext h1 {
	font-size: 20px;
}

.custom-flex h3 {
	font-size: 1em;
	margin-bottom: 1em;
	margin-top: .8em;
}

.custom-flex.fac1 .category, .custom-flex.fac2 .category, .custom-flex.fac3 .category {
	margin: 1.8em 0 .8em 0;
}

.custom-video .category-desc {
	margin-top: 4em;
	font-size: .95em;
}



/* Academics */

#left {
	clear: both;
	width: 93.5%;
	margin: 1% 3.25% 2.2% 3.25%;
}

#left .menu-subnav {
	display: none;
	margin-bottom: 0;
	background-color: #eaeaea;
}

#left .menuhead {
	/*border: 1px solid #6e6f72;*/
	cursor: pointer;
	/*background-color: #bf5700;*/
	/*background-color: #eaeaea;*/
	border-top: 3px solid #bf5700;
	margin: -.6em 0 0 0;
	padding: .8em .2em; 
}

#left .menuhead h3 {
	margin: .5em 0 .5em 2%;
	/*color: #fff;*/
	/*color: #6e6f72;*/
}

#left .menuhead h3 span {
	display: block;
	float: right;
	padding-right: 1em;
}

#left .menu-subnav li {
	border-top: 1px solid #fff;
	padding: 1.2em 0 0 1.2em;
}

#left .menu-subnav li:first-of-type {
	border-top: none;
}

#left .menu-subnav li:last-of-type {
	padding-bottom: 1.2em;
}

.article {
	width: 93.5%;
	margin: -1em 3.25% 3.25% 3.25%;
}

/* Equipment */

.equip div.item:nth-child(2n+1), .equip div.item:nth-child(2n+1) ~ div.item {
	width: 45%;
}

.equip .item .readmore {
	margin-left: 6em;
}

/* About */

#news .news {
	float: none;
	border-right: none;
	padding-right: 0;
	margin: 3.25%;
}

#news .news img, #news .news p {
	width: 100%;
}

.media {
	margin: 0 3em 3.25% 3.25%;
}

/* Footer */

#footer {
	clear: both;
	padding: 3.25% 0 0 0;
}

.custom-copyright {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    float: none;
    padding: 0;
}

.custom-copyright p {
	font-size: .95em;
}

.custom-contact {
    margin-left: 3.25%;
    width: 25%;
    font-size: .9em;
    padding-right: 0;
    margin-top: -.5%;
}

.custom-resources {
    /*padding-top: 0; */
    width: 20%;
    font-size: .9em;
    margin-top: -.5%;
}

.custom-social {
    margin-right: 5.25%;
    width: 36%;
    padding-bottom: 2em;
    font-size: .9em;
    margin-top: -1.5%;
}

.custom-utlinks {
    margin-top: 15%;
}

.custom-copyright p, .custom-copyright p a, .custom-resources li {
	font-size: .95em;
}

.moduletable-resources {
	float: none;
	padding-right: 5%;
	display: block;
}

/*.custom-resources {
	padding-top: .75em;
}*/

.moduletable-resources ul li {
	padding: 0 1em;
}

@media (max-width: 1040px) {
	.custom-flex.fac1 .hours, .custom-flex.fac2 .hours, .custom-flex.fac3 .hours, .custom-flex.fac1 .hours + .button-sm-blue-inv, .custom-flex.fac2 .hours + .button-sm-blue-inv, .custom-flex.fac3 .hours + .button-sm-blue-inv {
		
		font-size: .95em;
	}

}

@media (max-width: 930px) {
	.custom-flex.one, .custom-flex.club .club {
		width: 93.5%
	}

	.club-image {
		margin-bottom: 4%;
	}

	.flex-float {
		width: 91.5%;
		margin: 0 5.25% 1.25% 3.25%;
	}

	#position-5 + .custom-video {
		padding: 7% 3.25%;
	}

	.custom-video .custom-video {
		width: 93%;
		padding-bottom: 3.25%;
	}

	.custom-video .category-desc {
		margin: 3.25% 3.25% 3.25% 1.65%;
	}
}

@media (max-width: 768px) {

	.custom-contact {
		padding-right: 6%;
	}	

	.equip .item .readmore {
		margin-left: 15%;
	}

	.pagenav {
		font-size: .9em;
	}
}

@media (max-width: 700px) {
	.pagenav .previous, .pagenav .next {
		float: none;
		text-align: center;
	}
}

@media (max-width: 600px) {

	.custom-makerstudioslogo {
		background-size: 80%;
		margin: .5em 1% .5em -3%;
	}

	.custom-makerstudioslogo {
		margin-left: -1.5em;
	}

	.moduletable-mobilenav .nav {
		margin-top: 3.8em;
	}

	.menu-mobile .search-box {
		max-width: 91%;
	}

	#overlay.show {
		top: 111px;
	}

	.custom-homehero .herotext {
		width: 94%;
		top: 54%;
	}

	.equip div.item:nth-child(n), .equip div.item:nth-child(n) ~ div.item {
		width: 94%;
	}

	.equip .item .readmore {
		margin-left: 28%;
	}

	.facilities #ms1 img, .facilities #ms2 img, .facilities #ms3 img {
		float: none;
		/*padding-bottom: 0;*/
		padding-top: 1em;
		padding-left: 0;
	}

	#footer {
		height: auto;
	}

	.custom-copyright {
		border-bottom: none;
	}

	.custom-copyright .custom-utlinks-mobile {
		text-align: center;
		margin-top: 0;
		display: block;
	}

	.custom-contact {
		display: none;
	}

	.custom-resources {
		width: 100%;
		text-align: center;
	}

	.custom-resources ul {
		margin: 0 0 0 1.5em;
	}

	.custom-resources span {
		display: inline-block;
	}

	.custom-resources span a {
		color: #6d6e71;
		text-decoration: none;
		font-weight: 700;
		font-size: .95em;
	}

	.custom-resources h2 {
		display: none;
	}

	.custom-social {
		border-left: none;
		float: none;
		clear: both;
		width: 100%;
		display: none;
	}
}

@media (max-width: 475px) {
	.custom-makerstudioslogo {
		background-size: 65%;
		margin: .5em 1% -.5em -13%;
	}

	.custom-flex.club h3 {
		margin-top: 0;
	}
}